<table>
  <caption>To-do list</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Created on</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.id}}</td>
      <td>{{task.description}}</td>
      <td>{{task.dateCreation | date:'shortDate':'':'fr'}}</td>
      <td><button (click)="editTask(task)">E</button><button (click)="deleteTask(task.id)">X</button></td>
    </tr>
  </tbody>
</table>
<button (click)="toggleCreateMode()">Add a new task</button>
<div *ngIf="createMode">
  <label for="newTaskDescription">Description </label>
  <input #newTaskDescription id="newTaskDescription" size="50">
  <button (click)="addTask(newTaskDescription.value)">Add</button>
  <button (click)="toggleCreateMode()">Cancel</button>
</div>
